@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
      --background: #F9FCFF;
    --font: #77797E;
    --primary: '#2046A1';
      --primary_light: '#89C0E9';
      --primary_ultra_light: '#E9E9E9';
      --background: '#F6F9FF';
    
      --secondary: '#FFBB54';
      --secondary_light: '#FEC979';
      --red: '#FF6471';
      --light_red: '#FF8A94';
    
      --black: '#2A2E37';
      --main_gray: "#979797";
      --light_gray: '#EEEFEF';
      --white: '#FFFFFF';
    
    
    }
    }


body {
  background: var(--background)
}